<%= link_to "See events", events_path(:calendar_id => @user.email), class: "button btn btn-primary" %>
<% if (defined?($events.items)) %>
  <ul>
    <% $events.items.each do |event| %>
      <li><%= event.summary %> (<%= event.id %>)</li>
    <% end %>
  </ul>
<% end %>
